@model IEnumerable<Consola.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NombreProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CostoProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Proveedor_Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdProducto }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })
    </td>
</tr>
}

</table>
