@model Consola.Models.Mascota

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMascota }) |
    @Html.ActionLink("Back to List", "Index")
</p>
