@model Consola.Models.Tratamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTratamiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
