@model Consola.Models.Instituciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Institución</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTipoIdentitifcacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacion_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInstitucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
